* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

#img-container,
#form {
  width: 50%;
  height: 100%;
  font-family: 'Josefin sans';
}

#img-container {
  overflow: hidden;
  position: relative;
}
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo-container {
  width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
  font-family: 'Caveat';
  font-size: 2vw;
  color: white;
  background-color: rgba(109, 109, 109, 0.4);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.odin-logo {
  width: 4vw;
  height: auto;
}

.img-author {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#form {
  background-color: rgb(234, 234, 234);
  padding: 1.5rem;
  overflow-y: auto;
}

h2 {
  text-align: center;
  margin: 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
}
label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 1rem;
  position: relative;
}

li:has(input:focus:valid) {
  border: 1px solid rgb(74, 255, 74);
}

li:has(input:focus:invalid) {
  border: 1px solid rgb(255, 100, 100);
}

li:has(input:valid) {
  border: 1px solid rgb(74, 255, 74);
}

li:has(input:invalid) {
  border: 1px solid rgb(255, 100, 100);
}

li:has(input:valid) > label::after {
  content:url(./images/valid.svg);
  position: absolute;
  left: 100%;
  bottom: 0.8rem;
}

li:has(input:focus:invalid) > label::after {
  content:url(./images/invalid.svg);
  color: rgb(255, 100, 100);
  position: absolute;
  left: 100%;
  bottom: 0.8rem;
}

input {
  width: 100%;
  font-family: 'Josefin sans';
  font-size: 1.2rem;
}
input:focus {
  box-shadow: 3px 3px 3px rgb(92, 92, 92);
}

button {
  width: 100%;
  padding: 0.5rem;
  font-family: 'Josefin sans';
  font-size: 1.2rem;
  background-color: rgb(0, 0, 255);
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  border: 2px solid rgb(0, 0, 255);
}

button:active {
  background-color: rgb(45, 45, 255);
}